.hero {
  height: 200px;
}

.container.flex {
  align-items: center;
}
.account-panel {
  background-color: $color-white;
  min-width: 400px;
  min-height: 300px;
  position: relative;
  bottom: 200px;
  .order-list {
    width: 100%;
    height: 300px;
    overflow-y: auto;
    .item {
      height: 50px;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid gray;
      &:hover {
        background-color: rgba(gray, 0.4)
      }
      &.list-empty {
        @extend .item;
        justify-content: center;
        height: 100%;
        border-bottom: none;
      }
    }
  }
}
