.product.card {
  background-color: white;
  margin-top: 32px;
  animation: zoom 0.6s cubic-bezier(.02,.35,.29,.96);
  @keyframes zoom {
    from {
      transform: scale(0%);
    }
    to {
      transform: scale(100%);
    }
  } 
}