* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  &:hover {
    text-decoration: underline;
  }
  text-decoration: none;
  color: $anchor-color;
}

.flex {
  display: flex;
  flex-direction: column;
  &-column {
    @extend .flex;
    flex-direction: column;
  }
  &-row {
    @extend .flex;
    flex-direction: row;
  }
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;

  @for $i from 1 through 4 {
    &-#{$i} {
      @extend .grid;
      grid-template-columns: repeat($i, 1fr);
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

/* Card */

.card {
  border: none;
  border-radius: 7px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.281);
  background-color: $color-white;
  overflow: hidden;
}

/* Button & Inputs */

.btn {
  border: 1.5px solid $color-white;
  color:$color-white;
  font-size: 1rem;
  font-family: $font-sans-serif;
  background-color: $color-orange;
  border-radius: 30px;
  padding: 0.75em 1.5em;
  min-width: 50px;
  transition: transform 0.07s;
  cursor: pointer;
  &:hover {
    transform: scale(1.08);
  }
  &:active {
    transform: scale(1.05);
  }
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"] {
  font-family: sans-serif;
  border: none;
  background-color: none;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.281);
  padding: 0.5em;
  min-width: 50px;
}

/* Text styling */
.text-center {
  text-align: center;
}

.text-normal {
  font-weight: 400;
}

.text-ul {
  text-decoration: underline;
}

.text-light {
  font-weight: 300;
}

.text-bold {
  font-weight: 700;
}

.text-cap {
  text-transform: uppercase;
}

// Font size
.lead {
  font-size: 1rem;
}

.sm {
  font-size: 0.75rem;
}

.md {
  font-size: 1.5rem;
}

.lg {
  font-size: 2rem;
}

.xl {
  font-size: 3rem;
}

.xxl {
  font-size: 4rem;
}

.xxxl {
  font-size: 5rem;
}

/* Margin */
@for $i from 1 through 5 {
  .m-#{$i} {
    margin: (1rem + (($i - 1) * 0.5));
  }
  .mx-#{$i} {
    margin: 0 (1rem + (($i - 1) * 0.5));
  }
  .my-#{$i} {
    margin: (1rem + (($i - 1) * 0.5)) 0;
  }
  .p-#{$i} {
    padding: (1rem + (($i - 1) * 0.5));
  }
  .px-#{$i} {
    padding: 0 (1rem + (($i - 1) * 0.5));
  }
  .py-#{$i} {
    padding: (1rem + (($i - 1) * 0.5)) 0;
  }
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
  }
}
