// Font stack
$font-sans-serif: "Lato", sans-serif;
$font-serif: "Playfair Display", serif;

// Color Variables
$color-green: #205c46;
$color-orange: #db8a20;
$color-orange-dark: #5a311f;
$color-white: #f2f2f2;
$color-black: #0d0d0d;

$anchor-color: $color-orange;

