@import "variables";
@import "utilities";
@import "nav";
@import "hero";
@import "store";
@import "product";
@import "login";
@import "account";


body {
    background-color: $color-white;
    color: $color-black;
    font-family: $font-sans-serif;
    h1,
    h2,
    h3,
    h4 {
        font-family: $font-serif;
    }
}

.showcase {
    min-height: 350px;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
    .desc {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            padding: 20px;
        }
    }
}

.locations {
    padding: 0 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-green;
    h1 {
        color: $color-white;
    }
    .card.location-list {
        width: 900px;
        height: 450px;
        @extend .grid-2;
        gap: 0;
        grid-template-columns: 300px 600px;
        justify-items: first baseline;
        overflow: hidden;
        .list {
            overflow-y: scroll;
            height: 100%;
            .place {
                background-color: $color-white;
                padding: 0.5em;
                border-bottom: 1px solid rgba($color-black, 0.2);
                &:hover {
                    background-color: darken($color-white, 7%);
                }
            }
        }
        .google-maps {
            height: 450px;
            width: 600px;
            position: relative;
            overflow: hidden;
            iframe {
                width: 100% !important;
                height: 100% !important;
            }
        }
    }
}

footer {
    height: 100px;
    background-color: $color-orange-dark;
    color: $color-white;
    border-top: 5px solid $color-orange;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .hero-bg {
        .hero {
            align-items: center;
            padding-left: 0;
            h1 {
                font-size: 2rem;
                text-align: center;
            }
        }
    }

    .locations {
        .card.location-list {
            width: 300px;
            height: 600px;
            grid-template-columns: 300px;
            .list {
                height: 300px;
            }
            .google-maps {
                position: relative;
                overflow: hidden;
                width: 300px;
                height: 300px;
                iframe {
                    width: 100% !important;
                    height: 100% !important;
                }
            }
        }
    }
}

.success {
    color: $color-white;
}